<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- miuix-blur 声明 minSdk 33, 但库内部按 SDK_INT 门控(RenderEffect/AGSL);
         WeKit 同款 override, 低版本自动走降级路径 -->
    <uses-sdk tools:overrideLibrary="top.yukonga.miuix.kmp.blur" />

    <application
        android:label="@string/app_name"
        android:allowBackup="false">

        <!-- Xposed / LSPosed 模块元数据 -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposeddescription" android:value="@string/xposed_description" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
    </application>

</manifest>
